sudo: false
cache: bundler
language: ruby

rvm:
  - 2.4.1
  - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head
  fast_finish: true

before_install: gem update --remote bundler
script: bundle exec rake
